<%# 仮 form %>
<%= form_tag '/orders', method: :post do %>
  <span class="quick-drop">
    <%# Size, Color combobox %>
    <%# TODO separate size and color %>
    <%# <%= select_tag :guiest_id3, options_for_select(@product.variants_and_option_values_for.map{ |v| v.options_text}), class: "select-drop" %>
    <%= select_tag :guiest_id3, options_for_select(['S', 'M', 'L', 'XL']), class: "select-drop" %>
  </span>
  <span class="quick-drop resizeWidth">
    <%# TODO 数も編集可能にした方がいいかも %>
    <%# とりあえず10個まで表示 %>
    <%= select_tag :guiest_id4, options_for_select(('1'..'10').to_a), class: "select-drop"%>
  </span>
  <div class="btn-area">
    <%= button_tag class: 'btn btn-primary', type: :submit do %>
      <%= "カートへ入れる "%>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    <% end %>
    <%# <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a> %>
  </div>
<% end %>
