<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= full_title(subtitle: yield(:title)) %></title>

    <%= csrf_meta_tags %>

    <!-- PLUGINS CSS STYLE -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <!-- CUSTOM CSS -->
    <%= javascript_include_tag 'application' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main-wrapper">
       <%= render 'layouts/header' %>
       <%= yield %>
       <%= render 'layouts/footer' %>
       <%= render 'layouts/copyright' %>
       <%= debug(params) if Rails.env.development? %>
    </div>
    <%# modals %>
    <%# [NOTE] creating modal dir might be better %>
    <%= render 'layouts/login_modal' %>
    <%= render 'layouts/sign_up_modal' %>
    <%= render 'shared/product_quick_view_modal' %>
  </body>
</html>
